<div class="container mt-3">
    <h1> {{selectedBoardId.BoardName}} </h1>
    <div *ngFor="let card of cards" class="row" >
        <div class="col">
            <div class="card mb-3 w-100">
                <div class="card-body">
                    <h2 class="card-title">{{card.CardName}}</h2>
                    <h5 class="card-subtitle mb-2 text-muted"> {{card.CardStatus}} </h5>
                    <p class="card-text">{{card.CardNote}}</p>
                </div>
            </div>
        </div>
    </div>
    <button (click)="creatCard()" class="btn btn-primary" style="color: white;" type="button">Créer une carte pour ce tableau </button>
</div>